<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='template.css') }}">
    <title>Student Information</title>
</head>
<body>
    <nav>
        <h1>Student Information</h1>
        <div class="buttons">
            <div class="buttons">
                <button onclick="window.location.href='{{ url_for('results') }}'">
                    <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024">
                        <path d="M310.3 181.6l363.2 338.4a42.6 42.6 0 0 1 0 60.2L310.3 842.4a42.6 42.6 0 0 1-60.2-60.2L573 512 250.1 241.8a42.6 42.6 0 0 1 0-60.2 42.6 42.6 0 0 1 60.2 0z"></path>
                    </svg>
                    <span>Result</span>
                </button>        
        </div>
    </nav>
    <form method="post" action="/">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" class="input" required><br>

        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" class="input" required><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" class="input" required><br>

        <label for="departement">Departement:</label>
        <input type="text" id="departement" name="departement" class="input" required><br>

        <label for="moyenne">Moyenne:</label>
        <input type="number" id="moyenne" name="moyenne" class="input" required><br>

        <label for="matiereX">Matiere X:</label>
        <input type="number" id="matiereX" name="matiereX" class="input" required><br>

        <label for="matiereY">Matiere Y:</label>
        <input type="number" id="matiereY" name="matiereY" class="input" required><br>

        <button type="submit">Create Etudiant</button>
    </form>
</body>
</html>
